:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "work sans", sans-serif;
}

.parent {
    background-color: #eee;
}

.container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* احجام الشاشات المتداول  */


@media (max-width:767px) {
    .special-heding {
        font-size: 60px;
    }

    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }

    .special-heding+p {
        margin-top: -20px;
    }

}

@media (min-width:667px) and (max-width:983px) {
    .features .container .centerr {
        transform: translate(171.5px, 0);
    }

}

/* small */
@media (min-width:768px) {
    .container {
        width: auto;
    }

    h3 {
        margin: 0 0 20px 20px;
    }

}

/* medium */
@media (min-width:992px) {
    .container {
        width: auto;
    }
}

/* large */
@media (min-width:1200px) {
    .container {
        width: auto;
    }


}



/* start components  */
.special-heding {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}

.special-heding+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;

}

/* start header  */
.header {
    padding: 20px;


}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;

}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;

}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    width: 100%;
    height: 2px;

}

.header .links .icon span:first-child {
    height: 3px;
}

.header .links .icon span:nth-child(2) {
    height: 3px;
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    height: 3px;
    width: 100%;
}

.header .links ul {
    list-style: none;
    position: absolute;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;

}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;

}

.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

/* start landing section  */

.landing {
    background-image: url(../imags/pexels-sami-anas-5641977.jpg);
    background-color: #eee;
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;

}

.landing .intro-taxt {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;


}

.landing .intro-taxt h1 {
    margin: 0;
    font-weight: bold;
    font-size: 45px;
    color: var(--main-color);

}

.landing .intro-taxt p {
    font-size: 19px;
    line-height: 1.8;
    color: white;
}

/* <!-- start features --> */

.features {
    padding: 60px 0px 60px 0px;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.features .feat i {
    color: var(--main-color)
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* start services */
.services {
    padding: 60px 0px;
    margin: 0 60px;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;

}

.services .services-content .srv .taxt {
    flex: 1;
}

.services .services-content .srv h3 {
    margin: 0 0 20px 0px;
}

.services .services-content .srv p {
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    right: 20px;
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;


}

.services .services-content img {
    width: 260;
    height: 350px;
}

@media (max-width:1199px) {
    .services .services-content img {
        display: none;
    }

    .services .services-content .image::before {
        display: none;
    }
}

@media (max-width:490px) {
    .special-heding {
        font-size: 60px;
    }
}

@media (min-width:768px) {
    .services .services-content .srv h3 {
        margin: 0 0 20px 20px;
    }

}

.portfolio {
    padding: 60px 0px;
    background-color: #f6f6f6;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    /* margin-top: 80px; */
    margin: 80px 60px 0px 60px;
}

.portfolio .card {
    background-color: white;

}

.portfolio img {
    max-width: 100%;

}

.portfolio .info {
    padding: 20px;
}

.portfolio h3 {
    margin: 0px;
}

.portfolio p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

/* start about */
.about {
    padding: 60px 0px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 60px 0px 60px;
}

.about-content .imags {
    position: relative;
    width: 250px;
    height: 375px;
}

.about-content .imags img {
    max-width: 100%;
}

.about-content .imags::before {
    content: " ";
    position: absolute;
    background-color: red;
    width: 100px;
    height: calc(100% + 80px);
    top: -61.33px;
    left: -20px;
    z-index: -1;
    background-color: #ebeced;

}

.about-content .imags::after {
    content: " ";
    position: absolute;
    width: 120px;
    height: 252px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    top: -40px;
    right: -146px;
}

.about-content .text {

    flex-basis: calc(100% - 500px);
}

.about-content .text p:first-of-type {
    font-weight: bold;
    line-height: none;
    line-height: 2;
    margin-bottom: 50px;
}

.about-content .text hr {
    width: 50%;
    display: inline-block;
    columns: var(--main-color);
    border-color: var(--main-color);
}

.about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about .about-content .imags::after,
    .about .about-content .imags::before {
        display: none;
    }

    .about-content .imags {
        margin: 0 auto 60px;
    }
}

/* start contact */
.contact {
    padding: 60px 0px;
    background-color: #f6f6f6;
}

.contact .info {
    padding: 60px 0px;
    text-align: center;
}

.contact .lable {
    font-size: 40px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .link {
    display: block;
    font-size: 40px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
}

.contact .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width:767px) {

    .contact .lable,
    .contact .link {
        font-size: 25px;

    }

}

/* start footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

@media (max-width:767px) {

    .footer,
    .footer span {
        font-size: 10px;
    }
}

html {
    scroll-behavior: smooth;
}