html {
    scroll-behavior: smooth;
    font-size: 16px;
    color: var(--lightcolor);
}

:root {
    --main-color-1: #1e1e1e;
    --main-color-2: #fcd20a;
    --main-color-3: #282c2e;
    --main-transition: 0.3s;

}

body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.3s;
    scroll-behavior: smooth;

}

.header {
    max-width: 100%;
    background-color: var(--main-color-1);
    padding: 0;
}

.header .container {
    margin: 0 auto;
    padding: 35px 98px;
}

.header .container ul {
    display: flex;
    color: white;
}

.header .container ul li {
    padding-left: 40px;
    font-size: 20px;
    color: white;
}

.header .container ul li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.header .container ul li a:hover {
    color: var(--main-color-2);
}

.header .container img {
    width: 80px;
}

.container {
    margin: 0 auto;
    padding: 10px 98px 10px 98px;
}

.home {
    background-color: #1e1e1e;
    color: white;
    padding-top: 145px;
    justify-content: center;
    height: 740px;
}

.home .container .text {
    font-size: 25px;
    width: 60%;
    position: relative;
    margin: 0px;
    display: inline-block;
}

.home .container {
    display: flex;
}

.home .container .text h1 {
    font-size: 80px;
    text-transform: uppercase;
    margin: 34px 0 20px;
}

.home .container .text h1 span {
    color: var(--main-color-2);
}

.home .container .logo {
    width: 40%;
    position: relative;
}



.home .container .logo .logoi {
    transform: scale(0.8, 0.8) translate(55px, -62px);
    transition: all 5s ease;
    /* animation-name: logoo;
    animation-duration: 1.5s;
    animation-timing-function: ease; */
}



/* 
@keyframes logoo {
    from {
        transform: translate(1000px, -62px) scale(0.8, 0.8);
    }

    to {
        transform: translate(55px, -62px);
    }
} */

.home .container .logo .name {
    display: none;
    transition: 20s;

}

.home .container .logo .logoi:hover+.name {
    display: block;
    transform: translate(55px, -220px);

}



.home .container .text h3 {
    font-weight: 4.3;
    margin: 0 0 30px;
    text-transform: capitalize;
    font-size: 25px;
}

.home .container .text h3 span {
    color: var(--main-color-2);
}

.home .container .text button {
    padding: 12px;
    text-align: center;
    border-radius: 50px;
    font-size: 18px;
    width: 167px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: var(--main-color-2);
    color: var(--main-color-1);
    text-transform: capitalize;
    /* margin-bottom: 24px; */
    font-weight: bold;
    border: 2px solid var(--main-color-2);
    transition: 0.8s;
    height: 51px;
    cursor: pointer;
}

.home .container .text button:hover {
    background-color: var(--main-color-1);
    color: var(--main-color-2);
    border: 2px solid var(--main-color-2);

}

.home .container .text .icons {
    display: flex;
    justify-content: space-between;
    width: 36%;
    align-items: center;
    color: white;
    margin-top: 30px;
}

.home .container .text .icons a {
    margin: 5px;
}

.home .container .text .icons a i {
    color: white;

}

.home .container .text .icons a i:hover {
    color: var(--main-color-2);
    transform: scale(1.5, 1.5);
}



.home .container .text h4 {
    text-transform: capitalize;
}

.header .container i {
    visibility: hidden;
}

@media (max-width:767px) {
    .home .container .text .icons a i:hover {
        color: var(--main-color-2);
        transform: scale(1, 1);
    }

    .home .container .text button:hover {
        background-color: var(--main-color-2);
        color: var(--main-color-1);

    }

}

/* start respondive  */
/* small */
@media (min-width: 768px) and (max-width: 1050px) {

    .header .container {
        padding-bottom: -20px;
        position: relative;
        /* width: 500px; */
        display: flex;
        justify-content: center;
        content: "\f0c9";
        height: 173px;
        color: white;
        justify-content: flex-start;
    }


    .header .container ul::before {
        content: "\f0c9";
        width: 447px;
        color: white;
        position: absolute;
        width: 100px;
        left: 157px;
        font-weight: 900;
        top: -72px;
        font-size: 34px;
        font-family: "Font Awesome 6 Free";
        display: none;
    }

    .header .container ul {

        flex-direction: column;
        position: absolute;
        display: none;
        top: 73%;
        background-color: rgba(255, 255, 255);
        right: 76px;
        width: 29%;
        line-height: 1.8;
    }

    .header .container {
        content: "\f0c9";
        color: white;
    }

    .header .container i {
        visibility: inherit;
    }

    .header .container i {
        position: absolute;
        font-size: 30px;
        left: 88%;
        cursor: pointer;
    }

    .header .container i:hover+ul {
        display: flex;
    }

    .header .container ul li {
        padding-left: 20px;
        border-bottom: 1px solid #1e1e1e1f;
        transition: 0.5s;
    }

    .header .container ul li:hover {
        background-color: var(--main-color-2);
    }

    .header .container ul li a {
        color: var(--main-color-1);
        margin: 0;
        width: 100%;

    }

    .header .container ul li a:hover {
        color: var(--main-color-1);
    }

    .home .container .logo {
        display: none;

    }

    .home .container .text .icons a i {
        margin: 5px;
    }


}

/* mobile  */
@media (max-width: 767px) {
    .header {
        width: 100%;
        background-color: var(--main-color-1);
    }

    .header .container ul {
        flex-direction: column;
        position: absolute;
        display: none;
        top: 11%;
        background-color: rgba(255, 255, 255);
        right: 34px;
        width: 44%;
        line-height: 1.8;
        z-index: 1;
    }

    .header .container ul li {
        color: var(--main-color-1);
        padding-left: 20px;
        border-bottom: 1px solid #1e1e1e1f;
        transition: 0.5s;
    }

    .header .container ul li a {
        color: var(--main-color-1);
    }

    .header .container i:hover+ul {
        display: flex;
    }



    .container {
        padding: 25px 36px;
    }

    .header .container {
        content: "\f0c9";
        color: white;
        padding: 25px 36px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        content: "\f0c9";
        color: white;
    }

    /* 
    .header .container ul {

        flex-direction: column;
        position: absolute;
        display: none;
        top: 73%;
        background-color: rgba(255, 255, 255, 0.75);
        right: 76px;
        width: 29%;
        line-height: 1.8;
    } */

    .header .container i {
        visibility: inherit;
        font-size: 30px;
    }

    .header .container img {
        width: 62px;
    }

    .home {
        width: 100%;
        background-color: var(--main-color-1);
        padding-top: 95px;
    }

    .home .container {
        display: flex;
        text-align: center;
        padding: 13px;

    }

    .home .container .logo {
        display: none;
    }

    .home .container .text {
        width: 100%;
        position: relative;
        font-size: 22px;
        text-align: center;
    }

    .home .container .text h1 {
        font-size: 57px;
        width: 100%;
        text-align: center;
    }

    .home .container .text h3 {
        text-align: center;
        line-height: 1.5;
    }

    .home .container .text button {
        display: inline;

    }

    .home .container .text .icons {
        display: flex;
        margin-top: 40px;
        align-content: center;
        width: 100%;
        margin-left: 24%;
        width: 50%;
        justify-content: space-around;
    }
}

/* start about me  */
.about-me {
    background-color: var(--main-color-3);
    height: 345px;
}

.about-me .container {
    color: white;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}

.about-me .container .text {
    font-size: 17px;
    width: 60%;
    line-height: 1.5;
    position: relative;
    margin: 0px;
    display: inline-block;
    position: relative;
    margin: 0 0 0 25px;
}

.about-me .container .text h1 {
    font-size: 80px;
    text-transform: uppercase;
    margin: -41px 0 18px;

}

.about-me .container .text h3 {
    margin: 0 0 17px 0;

}

.about-me .container .text h1 span {
    color: var(--main-color-2);
}

.about-me .container img {
    width: 324px;
    height: 324px;
}

/* small */
@media (min-width: 768px) and (max-width: 1050px) {
    .about-me {
        height: 300px;
    }

    .about-me .container .text {
        font-size: 15px;
    }

    .about-me .container .text h1 {
        font-size: 58px;
        margin: -33px 0 11px 0;
    }

    .about-me .container img {
        width: 217px;
        height: 217px;
    }
}

/* mobile  */
@media (max-width: 767px) {
    .about-me {
        height: 556px;
    }

    .container {
        padding: 25px 36px;
    }

    .about-me .container {
        color: white;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .about-me .container .text {
        font-size: 15px;
        TEXT-ALIGN: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .about-me .container .text h1 {
        font-size: 45px;
        text-transform: uppercase;
        text-align: center;
        margin: -41px 0 18px;
    }

    .about-me .container img {
        width: 217px;
        height: 217px;
    }
}

/* start our services  */
.our-services {
    background-color: var(--main-color-1);
    height: 800px;
}

.our-services h1 {
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 100px;
    color: white;
}

.our-services .container {
    display: flex;
    padding-top: 120px;
    justify-content: space-between;
}



.our-services h1 span {
    color: var(--main-color-2);
    cursor: pointer;
}

.our-services h1 span:hover {
    letter-spacing: 30px;

}

.our-services .container div {
    background-color: var(--main-color-3);
    width: 23%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 20px;
    transition: all ease 0.6s;
    cursor: default;
}

.our-services .container div:hover {
    transform: scale(1.1, 1.1);
}

.our-services .container div i {
    color: var(--main-color-2);
    font-size: 80px;
    padding: 50px 0 50px;
}

.our-services .container div h4 {
    color: white;
    font-size: 23px;
}

.our-services .container div p {
    text-align: center;
    padding: 25px 22px;
    color: var(--main-color-2);
    line-height: 1.8;
}

@media (min-width: 768px) and (max-width: 1050px) {
    .our-services {

        height: 1200px;
    }

    .our-services .container {
        width: 100%;
        display: flex;
        height: 959px;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .our-services .container div {
        width: 48%;
        height: 400px;

    }

    .our-services .container div i {
        font-size: 80px;
        padding: 50px 0 50px;
    }


    .our-services .container div p {
        padding: 28px 37px;
    }
}

@media (max-width: 767px) {
    .our-services {

        height: 2040px;
    }

    .our-services .container {
        height: 1807px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        padding-top: 54px;
    }


    .our-services .container div {
        width: 95%;
        height: 400px;
        text-align: center;
        display: flex;
    }

    .our-services .container div:hover {
        transform: scale(1, 1);
    }


    .our-services .container div i {
        font-size: 80px;
        padding: 50px 0 50px;
    }


    .our-services .container div p {
        padding: 0px 52px;
        font-size: 20px;
    }

    .our-services h1 {
        font-size: 45px;
        text-transform: uppercase;
        text-align: center;
        margin: -41px 0 18px;
    }
}



/* start my skills  */
.my-skills {
    background-color: var(--main-color-3);
    height: 759px;

}

.my-skills .container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;


}

.my-skills .container .content-skills h1 {
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 100px;
    color: white;
    margin-bottom: 76px;
}

/* 
.my-skills .container .content-skills h1 span {
    color: var(--main-color-2);
} */

.my-skills .container .content-skills .skills {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
    row-gap: 22px;
    column-gap: -170px;
    justify-content: space-evenly;
    transition: 5s;
}

.my-skills .container .content-skills .skills .disk {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* 
.my-skills .container .content-skills .skills:hover { */
/* display: flex; */
/* flex-wrap: wrap; 
    flex-flow: column;
    align-items: flex-start;


}

.my-skills .container .content-skills .skills .prog-horder {
    transform: translate(106px, -59px);
    visibility: hidden
}


.my-skills .container .content-skills .skills:hover .my-skills {
    height: 1000px;
}

.my-skills .container .content-skills .skills .disk {
    display: flex;
    align-items: flex-start;

}

.my-skills .container .content-skills .skills:hover .prog-horder {
    visibility: visible;
    transform: translate(128px, -53px);
    display: flex;
    flex-flow: column;
    /* align-content: flex-start; */
/* align-items: flex-start; */
/* flex-wrap: wrap;
height: 49px;
transition: all 1s ease;
} */
/* 
.my-skills .container .content-skills .skills:hover .prog-horder h5 {
    font-size: 21px;
    padding-bottom: 3px;
    font-weight: 100;
    color: white;
}
 */
/* 
.my-skills .container .content-skills .skills:hover .prog-horder {
    visibility: hidden;
    width: 229px;
    height: 5px;
}

.my-skills .container .content-skills .skills:hover .prog-horder .prog span {
    display: block;
    height: 5px;
    z-index: 1;
    background-color: var(--main-color-2);
} */
.my-skills .container .content-skills .skills .prog-horder {
    display: none;
}

.my-skills .container .content-skills .skills .skil {
    z-index: 1;
    width: 100PX;
    height: 100PX;
    background-color: var(--main-color-1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid var(--main-color-1);
    position: relative;

}

/* 
.my-skills .container .content-skills .skills .disk:first-child:hover::after {
    content: "";
    width: 100PX;
    height: 100PX;
    border-radius: 50%;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid var(--main-color-2);
    border-top: 1px solid var(--main-color-1); */
/* background-color: var(--main-color-2);
background-attachment: unset;
background-clip: content-box;
animation-delay: 0s;
animation-duration: 3s;
animation-name: border;
animation-timing-function: ease;
animation-direction: normal;
margin-top: -117px; */
/* animation: rotate 2s linear infinite; */



.my-skills .container .img {
    width: 41%;
    margin-top: 232px;
}

.my-skills .container .img:hover {
    transform: scale(1.1, 1.1);
}

.my-skills .container h1 span {
    color: var(--main-color-2);
    cursor: pointer;

}

/*
.my-skills .container h1 span:hover {
    letter-spacing: 20px;
} 

*/
.my-skills .container .content-skills .skills .skil {
    position: relative;
}

.my-skills .container .content-skills .skills .skil img:first-child {
    width: 50%;
}

.my-skills .container .content-skills .skills .disk {
    position: relative;
}

/* background-image: conic-gradient(var(--main-color-2) 340deg, transparent 340deg); */
.test {
    padding: -0;
    height: 100%;
    transform: scale(1.04);
    width: 100%;
    position: absolute;
    background-image: conic-gradient(var(--main-color-2) 340deg, transparent 340deg);
    border-radius: 50%;
    visibility: hidden;
    transition: 0s;
    cursor: alias;
}

.css {
    background-image: conic-gradient(var(--main-color-2) 300deg, transparent 300deg);
}

.ps {
    background-image: conic-gradient(var(--main-color-2) 330deg, transparent 330deg);
}

.ai {
    background-image: conic-gradient(var(--main-color-2) 290deg, transparent 290deg);
}

.xd {
    background-image: conic-gradient(var(--main-color-2) 355deg, transparent 355deg);
}

.pr {
    background-image: conic-gradient(var(--main-color-2) 290deg, transparent 290deg);
}

.my-skills .container .content-skills .skills .skil:hover+.test {
    visibility: visible;
}


/* start proujict */
.My-Projects {
    background-color: var(--main-color-1);
}

.My-Projects h1 {
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 100px;
    color: white;
    margin-bottom: 76px;
}

.My-Projects h1 span {
    color: var(--main-color-2);
    cursor: default;
}



.My-Projects .cont {
    margin: 0 auto;
    padding: 139px 98px 10px 98px;
    display: flex;
    margin-bottom: 28px;
    position: relative;
    cursor: default;
}

.My-Projects .cont:first-of-type {
    padding-top: 0px;
}


.My-Projects .title {
    background-color: var(--main-color-3);
    width: 290px;
    padding: 16px 0 16px 33px;


}


.My-Projects .title-2 {
    width: 361px;
}

.My-Projects .cont::before {
    content: "";
    background-color: var(--main-color-2);
    width: 4px;
    height: 59.59px;
    position: absolute;
}


.My-Projects .title h2 {
    text-transform: uppercase;
    margin: 0;
    color: white;
    padding: 0;
    transform: translateY(12%);
    transition: 0.3s linear;
}


.My-Projects .title:hover h2 {
    color: var(--main-color-2);
}



.My-Projects .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.My-Projects .container .box {
    background-color: var(--main-color-3);
    position: relative;
    border-radius: 10px;
    /* border: 1.5px solid white; */
    height: 400px;
    overflow: hidden;
    transition: var(--main-transition);
}

.My-Projects .container .box:hover {
    transform: translateY(-10px);
}

.My-Projects .container .box .img {
    height: 52%;
    overflow: hidden;
    margin: 0px;
    padding: 6px;
    opacity: 98%;


}

.My-Projects .container .box:hover .img {
    opacity: 100%;
}

.My-Projects .container .box .img img {
    width: 100%;
    border-radius: 7px;
}

.My-Projects .container .box h2 {
    color: #eee;
    font-size: 18px;
    line-height: 1.5px;
    /* margin-left: 17px; */
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 21px;
    padding: 0 9px;
    text-align: center;
    text-transform: uppercase;

}



.My-Projects .container .box p {
    /* font-size: 13px;
    margin-top: 18px;
    text-align: center;
    color: var(--main-color-2);
    line-height: 1.8; */
    font-size: 13px;
    margin-top: -9px;
    position: absolute;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 23px;
    color: var(--main-color-2);
    line-height: 1.8;
    display: none;
}



@media (min-width: 768px) and (max-width: 1050px) {

    .My-Projects h1 span:hover {
        letter-spacing: 20px;
    }
}

@media (max-width:767px) {
    .My-Projects .cont {
        padding: 25px 36px;
        margin-bottom: 10px;
    }

    .My-Projects .container .box .img {
        opacity: 100%;
    }
}

@media (max-width: 550px) {
    .My-Projects h1 {
        font-size: 60px;
    }

    .My-Projects .container .box .img {
        opacity: 100%;
    }
}

@media (max-width: 380px) {
    .My-Projects h1 {
        font-size: 53px;
    }

    .My-Projects .container .box .img {
        opacity: 100%;
    }

}

/* 
.My-Projects .container .box a {
    color: var(--main-color-2);
    background-color: var(--main-color-1);
    padding: 10px;
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 22px;
    border-radius: 11px;
    text-transform: uppercase;
    text-align: center;
} */
/* .My-Projects .container .box a {
    left: 50%;
    transform: translatex(-50%);
    font-size: 15px;
    position: absolute;
    text-transform: capitalize;
    color: var(--main-color-1);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    bottom: 14px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    background: var(--main-color-2);
    height: 40px;
    border-radius: 10px;
    transition: 0.3s; */

.My-Projects .container .box a {
    left: 50%;
    transform: translatex(-50%);
    font-size: 15px;
    position: absolute;
    text-transform: capitalize;
    color: var(--main-color-2);
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
    width: 50%;
    bottom: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid var(--main-color-2);
    text-decoration: none;
    overflow: hidden;

}

.My-Projects .container .box a::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--main-color-2);
    position: absolute;
    left: -100%;
    top: 0;
    transition: all 0.4s ease;
}

.My-Projects .container .box:hover a {
    color: var(--main-color-3);
    z-index: 1;
}

.My-Projects .container .box:hover a::before {
    left: 0;
    z-index: -1;
}



;
/* .My-Projects .container .box a:hover {
    width: 80%;

    /* background-color: #eee;
     color: var(--main-color-2);
    border: 1px solid var(--main-color-2) */


@media (min-width: 768px) and (max-width: 1050px) {

    .My-Projects .container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
    }



}

@media (max-width: 960px) {
    .My-Projects .container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}

@media (max-width: 550px) {
    .My-Projects .container {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;

    }
}

.My-Projects .containerss {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding-bottom: 124px;
}

.My-Projects .containerss .box-s {
    overflow: hidden;
    position: relative;
}

.My-Projects .container .box-s a img {
    position: relative;
    opacity: 100%;
    transition: 0.7s ease;
}




.My-Projects .containerss .box-s:hover a img {
    transform: scale(1.3);
    opacity: 100%;

}

@media (max-width:767px) {
    .My-Projects .container .box .img {
        opacity: 100%;
    }

    .My-Projects .container .box:hover {
        transform: translateY(0px);
    }

    .My-Projects .title:hover h2 {
        color: white;
    }

    .My-Projects .containerss .box-s:hover a img {
        transform: scale(1);
        opacity: 100%;

    }

    .My-Projects .container .box a:hover {
        width: 50%;

    }
}

/* start ui-ux  */

.cont {
    margin: 0 auto;
    padding: 139px 98px 10px 98px;
    display: flex;
    margin-bottom: 28px;
    position: relative;
    cursor: default;
}

.ui-ux .cont .title-3 {
    width: 262px;
}

.ui-ux .containersm {
    display: flex;
    align-content: center;
    flex-direction: column;
    height: auto;
}


.ui-ux .containersm .box-u {
    width: 100%;
    overflow: hidden;
    height: auto;
    position: relative;

}

.ui-ux .containersm .box-u a img {
    transition: all 1s 0.2s ease;
}

.ui-ux .containersm .box-u::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: #ec0883;
    transition: all 1s 0.1s ease;

}

.ui-ux .containersm .box-u::after {
    content: "";
    width: 40%;
    box-shadow: 6px 16px 20px 1px rgba(0, 0, 0, 0.453);
    position: absolute;
    background-color: white;
    /* right: 0; */
    height: 100%;
    right: -423px;
    transition: all 0.8s 0.1s ease;
    /* transition: all 1.4s 0.2s ease; */


}

.ui-ux .containersm .box-u .hidden {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    max-width: 40%;
    z-index: 2;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    opacity: 0%;
    right: -423px;
    transition: all 1s 0.1s ease;
}

.ui-ux .containersm .box-u .hidden img {
    width: 267px;
    margin-top: -60px;
    position: relative;
}

.ui-ux .containersm .box-u .hidden h3 {
    color: var(--main-color-1);
    font-size: 37px;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    padding: 0px 94px 84px;
}


.ui-ux .containersm .box-u .hidden a {
    background-color: #ec0883;
    font-size: 19px;
    color: var(--main-color-1);
    /* list-style: none; */
    font-style: none;
    padding: 9px 24px;
    color: #eee;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    border-radius: 55px;
}

.ui-ux .containersm .box-u:hover::after {
    right: 0;
    /* animation: hi 0.7s ease forwards; */
    z-index: 1;
}

/* 
@keyframes hi {
    0% {
        right: -423px;
    }

    100% {
        right: 0px;
    }

} */

/* .ui-ux .containersm .box-u:hover::before {
    height: 20%;
    bottom: -40px;
    opacity: 40%;
    filter: blur(60px);

} */



.ui-ux .containersm .box-u:hover .hidden {
    opacity: 100%;
    z-index: 2;
    right: 0;

}

.ui-ux .containersm .box-u:hover a img {
    opacity: 93%;
    filter: blur(0.8px);

}


@media (min-width:0px)and (max-width:1025px) {
    /* .ui-ux .containersm .box-u:hover a img {
        opacity: 100%;
        filter: none;
    }

    .ui-ux .containersm .box-u .hidden {
        display: none;
    }

    .ui-ux .containersm .box-u::before {
        display: none;
    } */

    .ui-ux .containersm .box-u {
        height: auto;
    }
}

@media (max-width:767px) {
    .ui-ux .containersm .box-u:hover a img {
        filter: none;
        opacity: 100%;
    }

    .ui-ux .containersm .box-u .hidden {
        display: none;
    }

    .ui-ux .containersm .box-u .hidden::after {
        display: none;
    }

    .ui-ux .containersm .box-u::after {
        display: NONe;
    }

    .ui-ux .containersm .box-u::before {
        display: none;
    }
}

@media (min-width:767px) and (max-width:1050px) {


    .ui-ux .containersm .box-u .hidden img {
        width: 80%;

    }

    .ui-ux .containersm .box-u .hidden h3 {
        color: var(--main-color-1);
        font-size: 19px;
        text-transform: uppercase;
        margin: 0;
        line-height: 1.2;
        text-align: center;
        font-weight: bold;
        padding: 0px 10% 20%;
    }

    .ui-ux .containersm .box-u .hidden a {
        font-size: 98%;
        width: 62%;
        height: auto;
    }
}










@media (min-width: 768px) and (max-width: 1050px) {

    .My-Projects .containerss {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }



}

@media (max-width: 960px) {
    .My-Projects .containerss {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }

    .My-Projects .container .box-s a img {
        opacity: 100%;
    }
}








@media (max-width: 550px) {
    .My-Projects .containerss {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }

    .My-Projects .container .box-s a img {
        opacity: 100%;
    }

}






















/* strt contct  */
.contact-me {
    padding: 90px 0 30px;
    background-color: var(--main-color-1);
    text-align: center;
}


.contact-me .container h2 {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 15px;
    color: white;
    margin-bottom: 40px;

}

.contact-me .container h2 span {
    color: var(--main-color-2);
    cursor: pointer;

}

.contact-me .container h2 span:hover {
    letter-spacing: 20px;

}


@media (min-width:1100px) {
    .contact-me .container h2 span:hover {
        letter-spacing: 0px;

    }
}

.contact-me .container H5 {

    color: white;
    font-size: 27px;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 38px;
    margin-bottom: 25px;
}

.contact-me .container .icone {
    font-size: 33px;
    display: flex;
    text-align: center;
    margin: auto;
    width: 409px;
    justify-content: space-around;
}

.contact-me .container .icone i {
    color: white;
}

.contact-me .container .icone a:hover .facebook {
    color: #1877f2;
}

.contact-me .container .icone a:hover .massenger {
    color: #019ef2;
}

.contact-me .container .icone a:hover .instagram {
    color: #ee00ff;
}

.contact-me .container .icone a:hover .whatsapp {
    color: #4dee6a;
}

.contact-me .container .icone a:hover .behance {
    color: var(--main-color-2);
}

.contact-me .container .icone a:hover .email {
    color: var(--main-color-2);
}


@media (min-width: 768px) and (max-width: 1050px) {
    .my-skills .container .img {
        display: none;
    }

    .my-skills .container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: 767px) {
    .my-skills .container .img {
        display: none;
    }

    .contact-me .container h2 span:hover {
        letter-spacing: 0px;

    }

    .my-skills .container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .contact-me .container h2 {
        font-size: 40px;
        text-transform: uppercase;
        margin: 0;
        padding-top: 10spx;
        color: white;
        margin-bottom: 40px;
    }

    .contact-me {
        padding-top: 40px;
    }

    .contact-me .container H5 {

        font-size: 20px;
        line-height: 38px;
        margin-bottom: 25px;
    }


    .contact-me .container .icone {
        font-size: 29px;
        width: 275px;
    }
}

.copyright {
    color: white;
    margin: 149px auto 0;
    font-size: 20px;
    font-weight: normal;
}

.copyright span {
    color: var(--main-color-2);
    font-weight: bold;
    font-size: 25px;
}

@media (max-width: 380px) {
    .our-services {

        height: 2040px;
    }

    .our-services .container {
        height: 1807px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        padding-top: 54px;
    }

    .about-me .container img {
        visibility: hidden;
    }

    .our-services .container div {
        width: 95%;
        height: 400px;
        text-align: center;
        display: flex;
    }

    .our-services .container div:hover {
        transform: scale(1, 1);
    }


    .our-services .container div i {
        font-size: 80px;
        padding: 50px 0 50px;
    }


    .our-services .container div p {
        padding: 20px 0px;
        font-size: 12px;
    }

    .our-services h1 {
        font-size: 45px;
        text-transform: uppercase;
        text-align: center;
        margin: -41px 0 18px;
    }

    .my-skills .container .content-skills h1 {
        font-size: 53px;
    }

    .home .container .text h1 {
        font-size: 39px;
    }

    * {
        max-width: 100%;
    }

    .contact-me .container h2 {
        font-size: 20px;
    }
}